.footer{
    position: relative; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    background-color: #343a40;
    color: white;
}

.social-icon {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #00aced; /* Color change on hover */
    transform: scale(1.1); /* Slightly enlarges the icon */
  }
  
  .social-icon i {
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover i {
    transform: scale(1.2); /* Enlarges the icon itself */
  }