.multi-switch-button{
  padding:5px;
  background-color: #ffffff1a !important;
  border-radius: 25px;
  box-shadow: rgb(83, 83, 83) 2px 3px 10px 3px;;
}

/* Button Group */
.frequency-button-group {
  gap: 10px;
}

/* Toggle Buttons */
.custom-toggle-button {
  background-color: transparent !important;
  border: none !important;
  color: #fff;
  padding: 10px !important;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}