.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-section {
  height: 105vh;
  color: #fff;
  position: relative;
  padding-top: 50px;
  padding: 80px 20px;
}

.animated-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 0;
  color: #ffffff;
  animation: fade-in 1s ease-out;
}

.animated-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  animation: fade-in-up 1.5s ease-out;
}

.btn-hero {
  color: #fff;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-hero:hover {
  transform: scale(1.05);
}

.hero-section-crypto{
  max-height: 300px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
