.disabled-row {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .table-responsive {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }

  .action-btn{
    display: flex;
    justify-content: space-around;
  }

  .fadeIn {
    animation: fadeInUp 0.5s ease forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }