/* styles/ExpandableTable.css */
.bg-light {
  background-color: #f8f9fa !important;
}

.table-container {
  color: #fff !important;
}

.btn-outline-secondary,
.btn-primary {
  margin: 0 8px;
}

.table td,
.table th {
  vertical-align: middle;
}