/* styles/ExpandableTable.css */
.bg-light {
  background-color: #f8f9fa !important;
}

.table-caption {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem 1rem;
}

.btn-outline-secondary,
.btn-primary {
  margin: 0 8px;
}

.table td,
.table th {
  vertical-align: middle;
}