.arbitrage-container {
    padding: 2rem;
    color: #fff;
    min-height: 100vh;
}

.arbitrage-card {
    background-color: #ffffff1a;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.arbitrage-card-main {
    background-color: #2d2d2d !important;
    border-radius: 8px;
    color: #fff !important;
    box-shadow: 0 4px 20px rgba(241, 241, 241, 0.545);
}

.slide-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.control-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 0 1rem;
}

.control-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.control-btn:hover:not(:disabled) {
    background-color: #0056b3;
}

.arbitrage-progress {
    margin-top: 2rem;
    text-align: center;
}

.progress-bar {
    background-color: #ccc;
    border-radius: 5px;
    height: 10px;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
}

.progress-fill {
    background-color: #007bff;
    height: 100%;
    transition: width 0.3s ease;
}

.progress-text {
    font-size: 1rem;
    font-weight: bold;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
