.arbitrage-model-section,
.usdt-use-cases-section,
.plan-calculator-section,
.community-info-section,
.faqs-section,
.growth-planner-section {
  color: white;
  padding: 40px 20px;
  height: 95vh;
  text-align: justify;
  text-justify: inter-word;
}

.growth-planner-section {
  height: max-content;
}

.image-landing {
  max-height: 300px;
  text-align: center;
}

h2 {
  color: #343a40;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 200px;
}
