.image-landing {
  max-height: 16rem;
  text-align: center;
}

h2 {
  color: #343a40;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .image-landing {
    max-height: 13rem;
    margin-top: 5rem;
  }
  .image-center {
    width: 150px;
  }
}