.arbitrage-model-section,
.usdt-use-cases-section,
.plan-calculator-section,
.community-info-section,
.faqs-section {
    background-color: #f8f9fa;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
}

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 200px;
}