.arbitrage-model-section,
.usdt-use-cases-section,
.plan-calculator-section-min,
.community-info-section,
.faqs-section,
.growth-planner-section,
.plan-list-section,
.usdt-use-cases,
.plan-calculator-section {
  color: white;
  padding: 40px 20px;
  height: 95vh;
  text-align: justify;
  text-justify: inter-word;
}

.plan-calculator-section,
.growth-planner-section,
.plan-list-section,
.usdt-use-cases{
  height: max-content;
}