body {
  margin: 0;
  background: linear-gradient(145deg, #29515d, #1e293b) !important;
  font-family: 'Inter', sans-serif;
  color: #222222 !important;
}

code {
  font-family: 'Inter', sans-serif;
}